// color 1: #802200
// color 2: #FF875C
// color 3: #FF4400
// color 4: #856F67
// color 5: #CC3600

body{
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}


/*................Mobile first...................*/
/* On screens that are less than 400px wide, make the sidebar into a topbar */
@media screen and (max-width: 400px) {
    
}
