// @import '~bulma/bulma.sass';
$maincolor: #ff875c;
$seccolor: #802200;
$headercolor: #ff4400;
$textcolor: #CC3600;

/* #=id .=class */

body {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  background-color: $maincolor;
}

/* On screens that are less than 800px wide, make the sidebar into a topbar */
@media screen and (max-width: 800px) {
  /*................Header...................*/
  .RamenHeader {
    text-align: center;
    text-decoration: none;
    background-color: $seccolor;
    margin-top: -21px;
  }

  a:link {
    text-decoration: none;
  }

  a:visited {
    color: $headercolor;
  }

  /*................Content...................*/
  img {
    width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
  }

  .RamenChicken{
    text-align: center;
    color: $textcolor;
    font-size: 25px;
  }

  .RamenPork{
    text-align: center;
    color: $textcolor;
    font-size: 25px;
  }

  .RamenGarlic{
    text-align: center;
    color: $textcolor;
    font-size: 25px;
  }

  .comment-area{
    text-align: center;
    font-size: 20px;
  }

  /*................Footer...................*/
  .RamenFooter {
    text-align: center;
    height: 2.5rem;
    background-color: $seccolor;
    color: $headercolor;
  }
}

/*................Mobile first...................*/
/* On screens that are less than 400px wide, make the sidebar into a topbar */
@media screen and (max-width: 400px) {
  /*................Header...................*/
  .RamenHeader {
    text-align: center;
    text-decoration: none;
    background-color: $seccolor;
    margin-top: -21px;
  }

  a:link {
    text-decoration: none;
  }

  a:visited {
    color: $headercolor;
  }

  /*................Content...................*/
  img {
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
  }

  .RamenChicken{
    text-align: center;
    color: $textcolor;
    font-size: 20.7px;
  }

  .RamenPork{
    text-align: center;
    color: $textcolor;
    font-size: 20.7px;
  }

  .RamenGarlic{
    text-align: center;
    color: $textcolor;
    font-size: 20.7px;
  }


  .comment-area{
    text-align: center;
    font-size: 20px;
  }
 

  /*................Footer...................*/
  .RamenFooter {
    text-align: center;
    height: 2.5rem;
    background-color: $seccolor;
    color: $headercolor;
  }
}
